*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-color: transparent;
    transition: 500ms;
}
body{
    background-color: #191920;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-200%);
    text-align: center;
}
h1{
    font-size: 5vh;
    color: #34d35a;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 3vh;
    color: #34d35a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1:hover{
    text-decoration: underline;
    display: inline;
}
p:hover{
    text-decoration: underline;
 
}